extends layout
block content
    include bar
        block cont
            section#content
                .container
                    .block-header
                        h2 Editar sucursal
                    .card
                        .card-header
                            h2
                                small
                                    | Ingresa una dirección en el cuadro de texto, después arrastra el marcador para obtener la ubicación y dirección exactas.
                            br
                            br
                            .row
                                .col-md-12
                                    #map(style="height: 400px; position: relative; overflow: scroll;")
                        .card-body
                            br
                            form#form_branch(action='#'  method='POST')
                                .row
                                    .col-md-4
                                        .input-group.fg-float
                                            span.input-group-addon
                                                i.zmdi.zmdi-store
                                            .fg-line
                                                input#name.form-control(type='text' name='name' data-validation='required' )
                                                label.fg-label Nombre
                                            small#nameError.help-block
                                    .col-md-4
                                        .input-group.fg-float
                                            span.input-group-addon
                                                i.zmdi.zmdi-my-location
                                            .fg-line
                                                input#address_d.form-control(type='text' name='address_d' data-validation='required' )
                                                label.fg-label
                                            small#address_dError.help-block
                                br
                                .row
                                    .col-md-3
                                    .col-md-3
                                    .col-md-2
                                    .col-md-2
                                        button(type='reset').btn.btn-danger.btn-icon-text
                                            i.zmdi.zmdi-close
                                            |  Limpiar
                                    .col-md-2
                                        button(type='submit').btn.btn-primary.btn-icon-text
                                            i.zmdi.zmdi-check
                                            |  Aceptar

    include footer
    script.
        let id_branch = !{JSON.stringify(id_branch)};
    script(src='/javascripts/js/edit_branch_controller.js')