extends layout

block content
	.login-content
		// Login
		#l-login.lc-block.toggled
			.lcb-form
				img(src='/images/logo.jpg', alt='Logo egresados', height='50', width='120')
				form(name='loginForm')
					.input-group.m-b-20
						span.input-group-addon
							i.zmdi.zmdi-account
						.fg-line
							input#user.form-control(type='text', placeholder='Usuario', required)
					.input-group.m-b-20
						span.input-group-addon
							i.zmdi.zmdi-male
						.fg-line
							input#password.form-control(type='password', placeholder='Contrase침a', required)
					button#submit.btn.btn-login.btn-danger.btn-float(type='button')
						i.zmdi.zmdi-arrow-forward
				small
					.row
						.col-md-12
							h5
								a(href='/business/add/' target='_blank') Registrar establecimiento.
			.lcb-navigation
				#alert
					a(href='', data-ma-action='login-switch', data-ma-block='#l-forget-password')
						i ?
						span Olvide mi contrase침a

		#l-forget-password.lc-block
			.lcb-form
				p.text-left
					| Ingresa tu correo electr칩nico o R.F.C para que podamos adjuntarte tu nuevo password.
				.input-group.m-b-20
					span.input-group-addon
						i.zmdi.zmdi-email
					.fg-line
						input#reset.form-control(type='text', placeholder='Email')
				button#password_reset.btn.btn-login.btn-success.btn-float(type='button')
					i.zmdi.zmdi-check
			.lcb-navigation
				a(href='', data-ma-action='login-switch', data-ma-block='#l-login')
					i.zmdi.zmdi-long-arrow-right
					span Inicio de Sesi칩n
	include footer
	script(src='/javascripts/js/login_controller.js')
