doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title= title
		link(rel='icon', type='image/png', href='/images/favicon.png')

		link(href='/vendors/bower_components/animate.css/animate.min.css', rel='stylesheet')
		link(href='/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css', rel='stylesheet')
		link(href='/vendors/bower_components/fullcalendar/dist/fullcalendar.min.css', rel='stylesheet')
		link(href='/vendors/bower_components/sweetalert2/dist/sweetalert2.min.css', rel='stylesheet')
		link(href='/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css', rel='stylesheet')
		link(href='/vendors/bower_components/datatables.net-dt/css/jquery.dataTables.min.css', rel='stylesheet')
		link(href='/vendors/bower_components/bootstrap-select/dist/css/bootstrap-select.css', rel='stylesheet')
		link(href='/vendors/bower_components/nouislider/distribute/nouislider.min.css', rel='stylesheet')
		link(href='/vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css', rel='stylesheet')
		link(href='/vendors/bower_components/dropzone/dist/min/dropzone.min.css', rel='stylesheet')
		link(href='/vendors/farbtastic/farbtastic.css', rel='stylesheet')
		link(href='/vendors/bower_components/chosen/chosen.css', rel='stylesheet')
		link(href='/vendors/summernote/dist/summernote.css', rel='stylesheet')
		link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css')

		link(rel='stylesheet', href='/stylesheets/buttons.dataTables.min.css')
		link(rel='stylesheet', href='https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css')

		link(href='http://hayageek.github.io/jQuery-Upload-File/4.0.10/uploadfile.css', rel='stylesheet')
			
		link(rel='stylesheet', href='/stylesheets/app_1.min.css')
		link(rel='stylesheet', href='/stylesheets/app_2.min.css')

	body
		block content
