.col-md-3
											p Logotipo
												.fileinput.fileinput-new(data-provides='fileinput')
													span.btn.btn-primary.btn-file.m-r-10
														span.fileinput-new Seleccionar 
														span.fileinput-exists Archivo
														input#logo(type='file', name='logo')
													span.fileinput-filename
													a.close.fileinput-exists(href='#', data-dismiss='fileinput') ×
										.col-md-3
											p Acta Constitutiva
												.fileinput.fileinput-new(data-provides='fileinput')
													span.btn.btn-primary.btn-file.m-r-10
														span.fileinput-new Seleccionar 
														span.fileinput-exists Archivo
														input#act(type='file', name='act')
													span.fileinput-filename
													a.close.fileinput-exists(href='#', data-dismiss='fileinput') ×
										.col-md-3
											p Comprobante de Domicilio
												.fileinput.fileinput-new(data-provides='fileinput')
													span.btn.btn-primary.btn-file.m-r-10
														span.fileinput-new Seleccionar 
														span.fileinput-exists Archivo
														input#voucher(type='file', name='voucher')
													span.fileinput-filename
													a.close.fileinput-exists(href='#', data-dismiss='fileinput') ×



										.col-md-3
											p Identificación Oficial
												.fileinput.fileinput-new(data-provides='fileinput')
													span.btn.btn-primary.btn-file.m-r-10
														span.fileinput-new Seleccionar 
														span.fileinput-exists Archivo
														input#credential(type='file', name='credential' required)
													span.fileinput-filename
													a.close.fileinput-exists(href='#', data-dismiss='fileinput') ×